@model FurEver_Together.DataModels.Cat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Declawed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Declawed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccinated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vaccinated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adoption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adoption.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
