@model IEnumerable<FurEver_Together.DataModels.Cat>

@{
    ViewData["Title"] = "Cats";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".\css\dogs.css">
    <title>@ViewData["Title"]</title>
    <script>
        function handleImageError(image) {
            image.style.display = 'none';
            var noImageText = document.createElement('p');
            noImageText.textContent = 'No Image';
            noImageText.className = 'no-image-text';
            image.parentNode.appendChild(noImageText);
        }
    </script>
    <style>
        .no-image-text
        {
            text-align: center;
            font-size: 16px;
            color: #888;
        }
    </style>
</head>
<body>
    <form action="@Url.Action("Create", "Cats")" method="get">
        <button type="submit">Add Cat</button>
    </form>
    <div class="flip-card-container">
        @foreach (var cat in Model)
        {
            <div class="flip-card">
                <a href="@Url.Action("Details", "Cats", new { id = cat.Id })" class="flip-card-link">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="@cat.ImageURL" alt="No Image" class="dog-image" onerror="handleImageError(this)" />
                        </div>
                        <div class="flip-card-back">
                            <p class="title">@cat.Name</p>
                            <p>@cat.Age years old</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</body>
</html>
